*.swp
*.lock
/dist/
/content/res/RAW/
/content/res/entity_geometry/
/content/res/regions.yaml
/content/res/elements.yml
/gameserver/_build/
/gameserver/deps/
/webclient/.deno_cache/
/webclient/api-key-hash.ts
/infra/data/postgres/
/infra/data/.env.postgres
.env
*.log
/gameserver/priv/static
