version: '3.8'

services:
  webclient_builder:
    image: denoland/deno:2.5.6
    container_name: mutondeno
    volumes:
      - .:/app
      - ./dist:/app/dist
    working_dir: /app
    command: sh -c "./scripts/build_and_watch_webclient.sh"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./data/.env.postgres
      - ./.env
    environment:
      API_KEY_AUTH_ENABLE: ${API_KEY_AUTH_ENABLE}

  postgres:
    image: postgres:latest
    container_name: mutonpostgres
    env_file:
      - ./data/.env.postgres
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./data/conf/postgresql.conf:/etc/postgresql/postgresql.conf
      - ./data/conf/pg_hba.conf:/etc/postgresql/pg_hba.conf
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 30s
      retries: 4

  nginx:
    image: nginx:latest
    container_name: mutonginx
    volumes:
      - ./conf/nginx.conf:/etc/nginx/nginx.conf
      - ./conf/certs:/etc/nginx/certs
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - gameserver
    profiles:
      - production

  gameserver:
    image: elixir:latest
    container_name: mutonphoenix
    volumes:
       - ./gameserver:/app
       - ./res:/res
       - ./dist:/app/priv/static
    working_dir: /app
    command: sh -c "mix deps.get && mix phx.server"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./data/.env.postgres
      - ./.env
    environment:
      PHX_SIGNING_SALT: ${PHX_SIGNING_SALT}
    ports:
      - "4000:4000" # Default Phoenix port

networks:
  default:
    name: mutonetwork
